li {
    list-style-type: none;
    display: inline;
    padding: 6px;
    float: right;
    font-family: sans-serif;
}

li a.active {
    background-color: #04AA6d;
    color: white;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(221, 222, 225, 0.869);
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    margin-left: -8px;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: grey;
    text-align: right;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: whitesmoke;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #c9cecc;
    color: white;
}

.title::before {
    position: absolute;
    content: "T's \A SPOT \A";
    white-space: pre-wrap;
    font-family: 'Caveat', cursive;
    width: 100%;
    text-align: center;
    top: 15%;
    font-size: xxx-large;
    color: rgb(63, 62, 62);
    line-height: 60px;
    margin-left: 90px;
}

.title {
    background-image: url("../images/food.jpg");
    height: 100%;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    
}

h4 {
    text-align: center;
    display: inline;
    position: absolute;
    margin-top: 240px;
    font-family: sans-serif;
}

.logo {
    text-align: center;
    color: rgb(74, 73, 73);
    font-size: large;
}

.reservation {
    margin-top: 50px;
    text-align: center;
    font-family: sans-serif;
}

.reservation_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 16px;
    background-color: white;
    border: groove;
    font-family: sans-serif;
}

.form-group {
    padding: 0;
}

input[type=text], input[type=email], input[type=tel], input[type=date], input[type=time] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.checkbox {
    display: inline;
    padding: 10px;
    margin-left: 60px;
}

.parent_checkbox {
    margin-bottom: 30px;
}

.guest_count {
    margin-bottom: 20px;
}

.special_requests {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.btn {
    text-align: center;
}

.reserve {
    padding: 10px;
    border-radius: 5px;
}

.float_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: rgba(235, 208, 174, 0.662);
    margin-top: 50px;
    margin-left: -8px;
    margin-right: -8px;
}

.pancake_img {
    margin-left: 60px;
    margin-top: 50px;
    
}

.deliver {
    margin-top: 150px;
    font-family: sans-serif;
    margin-left: 230px;
    margin-bottom: 50px;
    font-size: xxx-large;
    color: rgb(63, 62, 62);
}

.delivery_phrase {
    margin-right: 410px;
    font-family: sans-serif;
    font-size: large;
    line-height: 32px;
    text-align: center;
    margin-top: 90px;
    color: rgb(63, 62, 62);
}

.motto {
    margin-right: 410px;
    font-size: large;
    line-height: 32px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 80px;
    color: rgb(63, 62, 62);
}

.order_button {
    margin-right: 1050px;
    margin-top: 150px;
    padding: 10px;
    width: 15%;
    border-radius: 5px;
}