li {
    list-style-type: none;
    display: inline;
    padding: 6px;
    float: right;
}

li a.active {
    background-color: #04AA6d;
    color: white;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: lightgrey;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: right;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #dde3e1;
    color: white;
}

.title::before {
    position: absolute;
    content: "T's Spot";
    width: 100%;
    text-align: center;
    top: 20%;
    font-size: xx-large;
}