li {
    list-style-type: none;
    display: inline;
    padding: 6px;
    float: right;
}

li a.active {
    background-color: #04AA6d;
    color: white;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(221, 222, 225, 0.869);
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    margin-left: -8px;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: grey;
    text-align: right;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: grey;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #c9cecc;
    color: white;
}

.title::before {
    position: absolute;
    content: "T's Spot";
    width: 100%;
    text-align: center;
    top: 15%;
    font-size: xx-large;
}

.title {
    background-image: url("../images/food.jpg");
    height: 100%;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}